img {
  height: 35vh;
  object-fit: cover;
  padding: 3vh;
}

#root > div > div:nth-child(1) > nav > div > a {
  text-decoration: none;
}

#root > div > div:nth-child(1) > nav > div > div > ul > li > a {
  cursor: pointer;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
dialog img {
  min-width: 80%;
  object-fit: cover;
  min-height: 80%;
}
